.demo-comment {
  background: #f0f0f0;
  border: solid 1px #ccc;
  box-sizing: border-box;
  padding: 20px;
  transition-duration: 100ms;
  transition-property: transform;
  transition-timing-function: ease-in;
  width: 200px;
}

.demo-comment.active {
  background: #ffffff;
  border-color: #000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  transform: translate(-10px, -10px);
}
