body, html {
  margin: 0;
  border: 0;
}

#app {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-width: 1000px;
}

#app > .main-column,
#app > .side-column {
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
}

#app > .main-column {
  width: 900px;
}

#app > .side-column {
  flex: 1;
}

#app > .side-column {
  background: #000;
  color: #fefefe;
  font-family: monospace;
  font-size: 11px;
  overflow: auto;
  white-space: pre;
}
