.docs-editor-content-overflow-control {
  font-weight: normal;
}

.docs-editor-content-overflow-control > .icon {
  display: inline-block;
  font-size: 20px;
  height: 12px;
  line-height: 8px;
  margin: 0 2px;
  transform: rotate(90deg);
  vertical-align: middle;
  width: 12px;
}
