.docs-list-type > .docs-list-item {
  list-style-position: outside;
}

.docs-list-type > .public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR::before {
  display: none;
}

.docs-list-type.circle > .docs-list-item { list-style-type: circle; }
.docs-list-type.decimal > .docs-list-item { list-style-type: decimal; }
.docs-list-type.decimal-leading-zero > .docs-list-item { list-style-type: decimal-leading-zero; }
.docs-list-type.disc > .docs-list-item { list-style-type: disc; }
.docs-list-type.georgian > .docs-list-item { list-style-type: georgian; }
.docs-list-type.hebrew > .docs-list-item { list-style-type: hebrew; }
.docs-list-type.hiragana > .docs-list-item { list-style-type: hiragana; }
.docs-list-type.hiragana-iroha > .docs-list-item { list-style-type: hiragana-iroha; }
.docs-list-type.inherit > .docs-list-item { list-style-type: inherit; }
.docs-list-type.katakana > .docs-list-item { list-style-type: katakana; }
.docs-list-type.katakana-iroha > .docs-list-item { list-style-type: katakana-iroha; }
.docs-list-type.lower-alpha > .docs-list-item { list-style-type: lower-alpha; }
.docs-list-type.lower-greek > .docs-list-item { list-style-type: lower-greek; }
.docs-list-type.lower-latin > .docs-list-item { list-style-type: lower-latin; }
.docs-list-type.lower-roman > .docs-list-item { list-style-type: lower-roman; }
.docs-list-type.square > .docs-list-item { list-style-type: square; }
.docs-list-type.upper-alpha > .docs-list-item { list-style-type: upper-alpha; }
.docs-list-type.upper-greek > .docs-list-item { list-style-type: upper-greek; }
.docs-list-type.upper-latin > .docs-list-item { list-style-type: upper-latin; }
.docs-list-type.upper-roman > .docs-list-item { list-style-type: upper-roman; }


.docs-list-item.circle { list-style-type: circle; }
.docs-list-item.decimal { list-style-type: decimal; }
.docs-list-item.decimal-leading-zero { list-style-type: decimal-leading-zero; }
.docs-list-item.disc { list-style-type: disc; }
.docs-list-item.georgian { list-style-type: georgian; }
.docs-list-item.hebrew { list-style-type: hebrew; }
.docs-list-item.hiragana { list-style-type: hiragana; }
.docs-list-item.hiragana-iroha { list-style-type: hiragana-iroha; }
.docs-list-item.inherit { list-style-type: inherit; }
.docs-list-item.katakana { list-style-type: katakana; }
.docs-list-item.katakana-iroha { list-style-type: katakana-iroha; }
.docs-list-item.lower-alpha { list-style-type: lower-alpha; }
.docs-list-item.lower-greek { list-style-type: lower-greek; }
.docs-list-item.lower-latin { list-style-type: lower-latin; }
.docs-list-item.lower-roman { list-style-type: lower-roman; }
.docs-list-item.square { list-style-type: square; }
.docs-list-item.upper-alpha { list-style-type: upper-alpha; }
.docs-list-item.upper-greek { list-style-type: upper-greek; }
.docs-list-item.upper-latin { list-style-type: upper-latin; }
.docs-list-item.upper-roman { list-style-type: upper-roman; }
