.docs-button {
  user-select: none;
}

.docs-button-text,
.docs-button .docs-icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  height: 25px;
  line-height: 20px;
  padding: 0;
  text-align: center;
  width: 18px;
}

.docs-button-text {
  font-size: 12px;
  line-height: 28px;
}

.docs-buttons-group {
  display: inline-block;
  margin-bottom: 8px;
  user-select: none;
  white-space: nowrap;
}

.docs-buttons-group + .docs-buttons-group {
  margin-left: 8px;
}

.docs-button-active .docs-icon {
  color: #000;
}

.docs-button.btn[disabled] {
  color: #ccc;
  opacity: 1;
}
