span[data-docs-decorator-type="DOCS_IMAGE"] {
  display: inline-block;
}




.docs-image {
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  float: none;
  font-size: 0;
  line-height: 0;
}

.docs-image-with-frame {
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  padding: 8px;
}

.docs-image-editing {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}

.docs-image-body {
  display: inline-block;
  margin: auto;
  position: relative;
}

/*
.docs-image-align-left {
  float: left;
  margin-right: 16px;
}

.docs-image-align-right {
  float: right;
  margin-left: 16px;
}
*/

.docs-image > .docs-safe-image {
  position: relative;
  z-index: 1;
}

.docs-image-resize-handle {
  bottom: 0;
  cursor: se-resize;
  height: 30px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.docs-image-resize-handle:before {
  border: solid 10px #fff;
  border-color: transparent #fff #fff transparent;
  bottom: 2px;
  content: '';
  height:0;
  position: absolute;
  right: 2px;
  width: 0;
  z-index: 2;
}

.docs-image-resize-handle:after {
  border: solid 7px #ccc;
  border-color: transparent #ccc #ccc transparent;
  bottom: 4px;
  content: '';
  position: absolute;
  right: 4px;
  z-index: 3;
}
