.docs-math-editor {
  display: block;
  width: 600px;
}

.docs-math-editor-border {
  background: #fff;
  border: 1px solid transparent;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #fff, 0 1px 0 #fff;
  box-sizing: border-box;
  display: block;
  margin-bottom: 16px;
  padding: 3px 3px 0 3px;
  width: 600px;
}

.docs-math-editor-scroll {
  max-height: 300px;
  overflow: auto;
  width: 100%;
}

.docs-math-editor-iframe {
  border: none;
  display: block;
  height: 10em;
  margin: 0 0 16px 0;
  transition-duration: 260ms;
  transition-property: height, opacity;
  transition-timing-function: ease-in;
  width: 100%;
}

.docs-math-editor-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.docs-math-editor-toggle {
  flex: 1;
}

.docs-math-editor-guide-table-container {
  border: solid 1px #f0f0f0;
  max-height: 300px;
  margin-bottom: 16px;
  overflow-x: auto;
  padding: 16px;
}

.docs-math-editor-guide-table-container-show {
  display: block;
}

.docs-math-editor-guide-table {
  background: #ddd;
  border-collapse: separate;
  border-spacing: 1.5px;
  margin-top: 16px;
  table-layout: fixed;
  width: 100%;
}

.docs-math-editor-guide-th {
  background: #f0f0f0;
  border: none;
  font-weight: bold;
  padding: 8px;
  vertical-align: top;
}

.docs-math-editor-guide-td {
  background: #fff;
  border: none;
  padding: 8px;
  vertical-align: top;
}

thead .docs-math-editor-guide-th {
  background: #aaa;
}

thead .docs-math-editor-guide-th:first-child {
  width: 30%;
}
